@import '@styles/breakpoints.scss';

.burger_menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: var(--header-height);
  top: 0;
  left: 0;
  background-color: var(--body-bg-color-black);
  transform: translate(-120%, 0);
  opacity: 0;
  transition: transform var(--transition), opacity var(--transition);

  &.active {
    opacity: 1;
    transform: translate(0, 0);
  }

  &__content {
    overflow: auto;
    display: grid;
    grid-template-rows: 1fr auto auto;
    grid-gap: 20px;
    justify-items: center;
    height: 100%;
    padding: var(--gap-very-large) var(--gap-medium) calc(var(--gap-very-large) * 2);
  }

  &__link_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__btn {
    width: 100%;
    max-width: unset;
  }

  &__nav_link {
    margin: auto 0;
  }

  @include tablet {
    &__btn {
      max-width: 200px;
    }
  }

  @include laptop {
    &__content {
      grid-template-rows: 1fr;
    }

    &__log_in_btn {
      display: none;
    }
  }
}
