@import '@styles/breakpoints.scss';

.nav_link {
  display: flex;
  flex-direction: row;

  &.column {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  &__item {
    cursor: pointer;
    pointer-events: auto;
    font-size: 18px;
    font-weight: 600;
    margin-right: 32px;
    transition: color var(--transition);

    &.column {
      margin-top: 20px;
      margin-right: 0;

      &:first-child {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    @include hover {
      color: var(--font-color-gold);
    }

    &.active {
      pointer-events: none;
      color: var(--font-color-gold);
    }
  }
}
