@import 'normalize-scss';
@import 'fonts';
@import 'vars';
@import 'breakpoints';

* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  overflow: auto;
  min-width: var(--min-width);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color-black);
  font-family: Merriweather, sans-serif;
  font-weight: 400;
  font-size: 10px;
  font-style: normal;
  letter-spacing: -0.02em;
  color: var(--font-color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
video,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  line-height: 1.2;
}

p {
  margin: 0;
  color: inherit;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg-color);
  border: 4px solid var(--scrollbar-thumb-border-color);
}
