@import '@styles/breakpoints.scss';

.home_page {
  overflow: hidden;
  background-position: left;
  background-repeat: no-repeat;

  &__main_block {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    text-align: center;

    &__description {
      display: grid;
      grid-gap: 20px;
      margin: auto 0;
    }

    &__btns {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 15px;
      max-width: 100%;
      margin-top: 18px;
    }

    @include tablet {
      justify-items: center;

      &__btns {
        grid-template-columns: repeat(2, auto);

        & a {
          & > * {
            width: 100%;
          }
        }
      }

      &__description {
        margin-top: 194px;
      }
    }

    @include laptop {
      grid-template-columns: 1fr 1fr;
      text-align: left;

      &__btns {
        grid-gap: 30px;
        max-width: 95%;
      }
    }

    @include desktop {
      grid-template-columns: 0.65fr 1fr;

      &__btns {
        max-width: 85%;
      }
    }
  }

  &__center_block_a {
    position: relative;
    background-color: var(--body-bg-color-white);
    color: var(--font-color-black);

    &__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    &__description {
      display: grid;
      grid-gap: 15px;
      max-width: 520px;
      margin: 70px 0 40px;
    }

    &__info_list {
      position: relative;
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-gap: 14px;
      height: 100%;
      margin: 0 auto;
      padding-bottom: 40px;
      left: unset;
      transform: translate(0, 0);
    }

    @include tablet {
      &__info_list {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include laptop {
      &__content {
        grid-template-columns: repeat(2, 1fr);
      }

      &__description {
        margin: 136px 0 94px;
      }

      &__info_list {
        position: absolute;
        grid-template-columns: repeat(2, 240px);
        margin: auto auto auto 0;
        padding-bottom: unset;
        left: calc(50% + 15px);
        transform: translate(0, 100px);
      }
    }

    @include desktop {
      &__info_list {
        grid-template-columns: repeat(2, 252px);
        left: 50%;
      }
    }
  }

  &__center_block_b {
    background: linear-gradient(180deg, #232528 0%, #000000 100%);

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__content {
      margin: 45px auto 55px;
    }

    @include laptop {
      & > * {
        justify-content: unset;
        align-items: unset;
      }

      &__content {
        margin: 49px auto 105px 0;
      }
    }
  }

  &__center_block_c {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 74px 0 101px;

    &__title {
      position: relative;
      display: flex;
      max-width: 900px;
      margin: 0 auto;
      text-align: center;
    }

    &__line {
      position: absolute;
      max-width: 161px;
      left: 50%;
      bottom: -15px;
      transform: translateX(-50%);
    }

    &__info_list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 80px;
    }

    &__info_item {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      align-items: center;

      &.revers {
        grid-template-columns: 1fr;
      }
    }

    &__description {
      display: grid;
      grid-gap: 10px;
    }

    @include tablet {
      gap: 155px;

      &__info_list {
        grid-gap: 100px;
      }

      &__info_item {
        grid-template-columns: 0.8fr 1.2fr;
        grid-gap: 40px;

        &.revers {
          grid-template-columns: 1.2fr 0.8fr;

          & > * {
            &:nth-child(1) {
              grid-column: 2/3;
              grid-row: 1/2;
            }

            &:nth-child(2) {
              grid-column: 1/2;
              grid-row: 1/2;
            }
          }
        }
      }
    }

    @include laptop {
      &__line {
        left: 18%;
        transform: translateX(0);
      }

      &__info_list {
        grid-gap: 170px;
      }

      &__info_item {
        grid-template-columns: 1fr 1fr;
        grid-gap: 65px;

        &.revers {
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    @include desktop {
      &__info_item {
        grid-template-columns: auto 1fr;
        grid-gap: 105px;

        &.revers {
          grid-template-columns: 1fr auto;
        }
      }
    }
  }

  &__bottom_block {
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding: 100px 0 200px;

    &__title {
      position: relative;
      display: flex;
      margin: 0 auto;
      text-align: center;
    }

    &__line {
      position: absolute;
      max-width: 300px;
      right: 50%;
      bottom: -15px;
      transform: translate(50%, 0);
    }

    &__list_clients {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(257px, 100%), 1fr));
      grid-gap: 27px;
    }

    @include laptop {
      padding: 129px 0 250px;

      &__line {
        right: 0;
        transform: translate(0, 0);
      }

      &__list_clients {
        grid-gap: 40px;
      }
    }
  }

  @include laptop {
    background-position: center;
  }
}
